.group-switch-control {
  margin-bottom: 20px;
}
.group-members {
  .group-member {
    width: 100px;
    height: 100px;
    margin-right: 4px;
    float: left;
  }
}
.loading {
  color: #FFF;
  margin-bottom: 20px;
  display:block;
}